body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #07131c, #305472);
  &:before,
  &:after {
    font-family: Arial, Helvetica, serif;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 18px;
    color: #fff4;
    z-index: -1;
  }
}

